<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f2f2f2;
        }
        .btn-logout {
            background-color: black;
            color: #fff;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Projects</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-logout" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <form class="form-inline mb-3" th:action="@{/projects/date}" method="get">
        <label for="start-date-filter" class="mr-2">Start Date:</label>
        <input type="date" id="start-date-filter" name="startDate" class="form-control mr-2" required>
        <label for="end-date-filter" class="mr-2">End Date:</label>
        <input type="date" id="end-date-filter" name="endDate" class="form-control mr-2" required>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Introduction</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each= "project : ${projects}" >
            <td th:text="${project.name}"></td>
            <td th:text="${project.intro}"></td>
            <td th:text="${project.startDate}"></td>
            <td th:text="${project.endDate}"></td>
            <td th:text="${project.status == 0 ? 'Pre' : (project.status == 1 ? 'Start' : (project.status == 3 ? 'End' : ''))}"></td>
            <td>
                <form th:action="@{/projects/details/{id}(id=${project.id})}" method="get">
                    <button type="submit" class="btn btn-info">View Details</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/projects/new}" method="get">
        <button type="submit" class="btn btn-success mb-3">Create Project</button>
    </form>
    <form th:action="@{/projects/generateReport}" method="get">
        <button type="submit" class="btn btn-primary">Generate Report</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>